@import '../../variables';

.menu {
    width: 95px;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: $primary-color;
    flex-direction:column;
    border-right: 1px solid $grey-color;
    img.menu-logo {
        width: 40px;
        margin-top: 30px;
    }

    img.menu-logo-mobile {
       display: none;
    }
    
    .menu-option-container{
        height: calc(100% - 100px);
    }

    .menu-avatar-container{
        width: 40px;
        height: 40px;
        background-color: $secondary-color;
        border-radius: 30px;
        align-self:center;
        justify-self: flex-end;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-avatar-container-img {
            width: 60%;
        }
    }
    @media (max-width: $breakpoint-tablet) {
        position: absolute;
        width: 100vw;
        height: 70px;
        flex-direction: row;
        justify-content:space-between;
        background-color: $lavanda-color;
        img.menu-logo-mobile {
            display: block;
            width: 40px;
            padding-left: 10px;
        }
        img.menu-logo {
           display: none;
        }
        .menu-avatar-container{
           display: none;
        }
    }
}