@font-face {
    font-family: "Spezia";
    src: url("./Spezia\ Regular.ttf");
}

@font-face {
    font-family: "SpeziaMedium";
    src: url("./Spezia\ Medium.ttf");
}

@font-face {
    font-family: "SpeziaBold";
    src: url("./Spezia\ Bold.ttf");
}
