@import './assets/fonts/fonts';

/* colors variables */
$lavanda-color: #7664EF;

$white-color: #ffffff;

$crema-color: #FFFFF4;

$grey-color: #88888F;

$grey2-color: #43434A;

$black-color: #000000;


$primary-color: $grey2-color;

$secondary-color: $white-color;

$text-color: $black-color;

$text-color2: $grey-color;




/* fonts variables */

$titles: 'SpeziaBold'; 
$paragraph: 'Spezia';