@import './assets/fonts/fonts';

/* colors variables */
$lavanda-color: #7664EF;

$magenta-color: #C2417D;

$white-color: #ffffff;

$crema-color: #FFFFF4;

$grey-color: #88888F;

$grey2-color: #43434A;

$black-color: #000000;


/* themes variables */
$primary-color: $crema-color;

$secondary-color: $white-color;

$text-color: $black-color;

$text-color2: $grey-color;


/* Breakpoints */
$breakpoint-tablet: 768px;

$breakpoint-mobile: 768px;


/* fonts variables */
$titles: 'SpeziaBold'; 

$paragraph: 'Spezia';