$base-color: #c6538c;
$base-color-dark: rgba($base-color, 0.88);

$primary-color: #c6538c;
$primary-color-dark: rgba($base-color, 0.88);

$second-color: #c6538c;
$second-color-dark: rgba($base-color, 0.88);